<a href="https://colab.research.google.com/github/Namjungpil/PythonClass/blob/main/PythonClass_Day_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
base = int(input("base ?"))
height = int(input("height ?"))
area = base * height / 2
print(area)

base ?10
height ?5
25.0

In [3]:
a = int(input("a ="))
b = int(input("b ="))

if a > b :
  print(a)
elif a < b :
  print(b)
else :
  print("same")

a =3
b =3
same

In [7]:
a = 3
b = 5
print("a, b 의 값은", a,",", b)

a, b = b, a
print("a, b 의 값은", a,",", b)

a, b 의 값은 3 , 5
a, b 의 값은 5 , 3

In [8]:
a = 3
b = 5

print("a, b 의 값은", a,",", b)
t = a
a = b
b = t

print("a, b 의 값은", a,",", b)

a, b 의 값은 3 , 5
a, b 의 값은 5 , 3

In [11]:
i = 0
sum = 0
arr = [2,3,4,5,6]
while i < 5 :
  sum = sum + arr[i]
  i = i + 1
print(sum)

20

In [16]:
arr = [2, 4, 3, 5, 1]
i = 1
max = arr[0]
while i < 5 :
  if arr[i] > max :
    max = arr[i]
  i += 1
print(max)

5

In [22]:
i = 0
arr = [4,2,3,2,5]
while i < 5 :
   if arr[i] == 5 :
      print("5는",i,"번째 방에 있습니다")
      break
   else :
    i += 1
if i == 5 :
  print("찾는 값이 없습니다")

5는 4 번째 방에 있습니다