<a href="https://colab.research.google.com/github/Namjungpil/PythonClass/blob/main/PythonClass_Homework_18.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 271
class Account :
  def __init__(self, name, ballance) :
    import random
    nr1 = random.randrange(100,1000)
    nr2 = random.randrange(10,100)
    nr3 = random.randrange(100000,1000000)
    self.name = name
    self.ballance = ballance
    
    print("은행이름: SC은행, 계좌번호 : {}-{}-{}".format(nr1,nr2,nr3), self.name, self.ballance),

손님1 = Account("홍길동", 10000)

은행이름: SC은행, 계좌번호 : 740-42-293560 홍길동 10000

In [ ]:
# 272
class Account :
  account_nrs = 0  
  def __init__(self, name, ballance) :
    import random
    nr1 = random.randrange(100,1000)
    nr2 = random.randrange(10,100)
    nr3 = random.randrange(100000,1000000)
    self.name = name
    self.ballance = ballance
  
    Account.account_nrs += 1

   
    print("SC은행의 총 계좌수는 ",Account.account_nrs, "개 입니다")

손님1 = Account("홍길동", 10000)
손님2 = Account("이몽룡", 1000)
손님3 = Account("성춘향", 1000)

SC은행의 총 계좌수는  1 개 입니다
SC은행의 총 계좌수는  2 개 입니다
SC은행의 총 계좌수는  3 개 입니다

In [ ]:
# 273
class Account :
  account_nrs = 0
  def __init__(self, name, ballance) :
    import random
    nr1 = random.randrange(100,1000)
    nr2 = random.randrange(10,100)
    nr3 = random.randrange(100000,1000000)
    self.name = name
    self.ballance = ballance
    Account.account_nrs += 1

  def get_account_num(self) :
    return Account.account_nrs 

손님1 = Account("홍길동", 10000)
손님2 = Account("이몽룡", 1000)
손님3 = Account("성춘향", 1000)  

Account.get_account_num(Account)

3

In [ ]:
# 274
class Account :
  account_nrs = 0
 
  def __init__(self, name, ballance) :
    import random
    nr1 = random.randrange(100,1000)
    nr2 = random.randrange(10,100)
    nr3 = random.randrange(100000,1000000)
    self.name = name
    self.ballance = ballance
    Account.account_nrs += 1
   
  def get_account_num(self) :
    return Account.account_nrs 

  def deposit (self, added) : 
    if added > 0 :
      self.added = added
      self.ballance += self.added
      return self.ballance
    else :
      print("입금은 최소 1원 이상만 가능합니다.")  

손님1 = Account("홍길동", 10000)
손님2 = Account("이몽룡", 1000)
손님3 = Account("성춘향", 1000)  

print(손님3.name, 손님3.ballance)

손님3.deposit(500)
print(손님3.name, 손님3.ballance)

성춘향 1000
성춘향 1500

In [ ]:
# 275
class Account :
  account_nrs = 0
 
  def __init__(self, name, ballance) :
    import random
    nr1 = random.randrange(100,1000)
    nr2 = random.randrange(10,100)
    nr3 = random.randrange(100000,1000000)
    self.name = name
    self.ballance = ballance
    Account.account_nrs += 1
   
  def get_account_num(self) :
    return Account.account_nrs 

  def deposit (self, add) : 
    if add > 0 :
      self.add = add
      self.ballance += self.add
      return self.ballance

  def withdraw (self, subtract) :
    if subtract < self.ballance :
      self.subtract = subtract
      self.ballance -= self.subtract
      return self.ballance
    else : 
      print(self.name,"님, 잔액 이상은 출금 할 수 없습니다")

손님1 = Account("홍길동", 10000)
손님2 = Account("이몽룡", 1000)
손님3 = Account("성춘향", 1000)  

손님3.deposit(500)
print(손님3.name, 손님3.ballance)

손님2.withdraw(1000)
print(손님2.name, 손님2.ballance)

성춘향 1500
이몽룡 님, 잔액 이상은 출금 할 수 없습니다
이몽룡 1000

In [ ]:
# 276
class Account :
  account_nrs = 0
 
  def __init__(self, name, ballance) :
    import random
    nr1 = random.randrange(100,1000)
    nr2 = random.randrange(10,100)
    nr3 = random.randrange(100000,1000000)
    self.name = name
    self.ballance = ballance
    Account.account_nrs += 1

    global account_nr
    account_nr = str(nr1) + "-" + str(nr2) + "-" + str(nr3)
    self.account_nr = account_nr 
   
  def get_account_num(self) :
    return Account.account_nrs 

  def deposit (self, add) : 
    if add > 0 :
      self.add = add
      self.ballance += self.add
      return self.ballance

  def withdraw (self, subtract) :
    if subtract < self.ballance :
      self.subtract = subtract
      self.ballance -= self.subtract
      return self.ballance
    else : 
      print(self.name,"님, 잔액 이상은 출금 할 수 없습니다")

  def display_info(self) :
    print("은행이름: SC은행","예금주: ",self.name, "계좌번호 :",self.account_nr, "잔고 :",format(self.ballance,","),"원" )

손님4 = Account("파이썬",10000) 
손님4.display_info()

은행이름: SC은행 예금주:  파이썬 계좌번호 : 129-56-696440 잔고 : 10,000 원

In [ ]:
# 277   이자 지급하기 
class Account1(Account) :
  add_count = 1
  def deposit (self, add) : 
    self.add = add
    self.ballance += self.add
    Account1.add_count += 1
    
    if Account1.add_count % 5 == 0 :
      self.ballance = self.ballance * 1.01
    print(Account1.add_count, self.ballance)

손님1 = Account1("홍길동", 10000)
손님1.deposit(10000)
손님1.deposit(10000)
손님1.deposit(10000)
손님1.deposit(10000)
손님1.deposit(10000)
손님1.deposit(10000)
손님1.deposit(10000)
손님1.deposit(10000)
손님1.deposit(10000)
손님1.deposit(10000)

2 20000
3 30000
4 40000
5 50500.0
6 60500.0
7 70500.0
8 80500.0
9 90500.0
10 101505.0
11 111505.0

In [ ]:
# 278

list = []

손님1 = Account("홍길동", 10000)
손님2 = Account("이몽룡", 1000)
손님3 = Account("성춘향", 1000) 

list.append(손님1)
list.append(손님2)
list.append(손님3)

print(list)

[<__main__.Account object at 0x7fd429aff1d0>, <__main__.Account object at 0x7fd429affc50>, <__main__.Account object at 0x7fd429affe10>]

In [ ]:
# 279
class Account2(Account) :
  def __init__(self, name, ballance) :
    self.name = name
    self.ballance = ballance
 
    list = []
    list.append(self)
    for i in list :
      if i.ballance >= 1000000 :
        print(i.name, i.ballance)

손님1 = Account2("홍길동", 2000000)
손님2 = Account2("이몽룡", 5000000)
손님3 = Account2("성춘향", 1000) 
손님4 = Account2("성춘향1", 10000000) 
손님5 = Account2("성춘향2", 1000) 
손님6 = Account2("성춘향3", 1000000000)

홍길동 2000000
이몽룡 5000000
성춘향1 10000000
성춘향3 1000000000

In [ ]:
# 280 입출금 내역      
# 클래스 변수로 빈 리스트를 만들고 deposit 과 Withdraw 매써드에 매번 발생시 리스트에 요소 추가함.
#

In [ ]:
# 281
class 차:
  def __init__ (self, 바퀴, 가격) :
    self.바퀴 = 바퀴
    self.가격 = 가격

car = 차(2, 1000)
car.바퀴

2

In [ ]:
# 282
class 자전차(차) :

In [26]:
# 283        # 질문 내용 : 클래스를 상속했을 때 상속받은 클래스의 생성자는 같이 상속되지 않는가? 생성자를 별도로 구성해 주어야 에러가 발생하지 않음
class 차:
  def __init__ (self, 바퀴, 가격) :
    self.바퀴 = 바퀴
    self.가격 = 가격

class 자전거(차):
  def __init__ (self, 바퀴, 가격) :
    self.바퀴 = 바퀴
    self.가격 = 가격

bicycle = 자전거(2, 100)
bicycle.가격

100

In [8]:
# 284     
class 차:
  def __init__ (self, 바퀴, 가격, 구동계) :
    self.바퀴 = 바퀴
    self.가격 = 가격
    self.구동계 = 구동계

car = 차(4, 1000, "엔진")  
car.구동계

class 자전차(차):
    def __init__ (self, 바퀴, 가격, 구동계) :
      self.바퀴 = 바퀴
      self.가격 = 가격
      self.구동계 = 구동계

bicycle = 자전차(2, 100, "시마노")
bicycle.구동계

'시마노'

In [10]:
# 285     
class 차:
  def __init__ (self, 바퀴, 가격) :
    self.바퀴 = 바퀴
    self.가격 = 가격
  
  def 정보(self) :
    print("바퀴수 {} \n가격 {}".format(self.바퀴, self.가격))

class 자동차(차) :
  def __init__ (self, 바퀴, 가격) :
    self.바퀴 = 바퀴
    self.가격 = 가격

car = 자동차(4, 1000)
car.정보()

바퀴수 4
가격 1000

In [16]:
# 286     # 283 과 동일문제, 왜 에러가 발생하는지 모르겠음
class 차:
  def __init__ (self, 바퀴, 가격, 구동계) :
    self.바퀴 = 바퀴
    self.가격 = 가격
    self.구동계 = 구동계
  
  def 정보(self) :
    print("바퀴수 {} \n가격".format(self.바퀴, self.가격))

car = 차 (4, 1000, "엔진")
car.정보()

class 자전차 (차) :
  def __init__ (self, 바퀴, 가격, 구동계) :
    self.바퀴 = 바퀴
    self.가격 = 가격
    self.구동계 = 구동계

bicycle = 자전차 (2, 100, "시마노")
bicycle.정보()

바퀴수 4
가격
바퀴수 2
가격

In [17]:
# 287        # 283 과 동일문제, 왜 에러가 발생하는지 모르겠음
class 차:
  def __init__ (self, 바퀴, 가격, 구동계) :
    self.바퀴 = 바퀴
    self.가격 = 가격
    self.구동계 = 구동계
  
  def 정보(self) :
    print("바퀴수 {} \n가격 {} \n구동계 {}".format(self.바퀴, self.가격, self.구동계))

car = 차 (4, 1000, "엔진")
car.정보()

class 자전차 (차) :
  def __init__ (self, 바퀴, 가격, 구동계) :
    self.바퀴 = 바퀴
    self.가격 = 가격
    self.구동계 = 구동계

bicycle = 자전차 (2, 100, "시마노")
bicycle.정보()

바퀴수 4
가격 1000
구동계 엔진
바퀴수 2
가격 100
구동계 시마노

In [18]:
# 288
class 부모:
  def 호출(self):
    print("부모호출")

class 자식(부모):
  def 호출(self):
    print("자식호출")

나 = 자식()
나.호출()       # 매써드 오버라이딩으로 자식 클래스의 호출 매써드가 유효함, 자식호출 출력

자식호출

In [22]:
# 289
class 부모:
  def __init__(self):
    print("부모생성")

class 자식(부모):
  def __init__(self):
    print("자식생성")

나 = 자식()    # 자식 클래스의 생성자인 자식생성 출력

자식생성

In [23]:
# 290
class 부모:
  def __init__(self):
    print("부모생성")

class 자식(부모):
  def __init__(self):
    print("자식생성")
    super().__init__()      # 이건 뭐지?

나 = 자식()

자식생성
부모생성