<a href="https://colab.research.google.com/github/Namjungpil/PythonClass/blob/main/PythonClass_Homework_16.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [42]:
# 231-1
def n_plus_1 (n) :
    result3 = n + 1
    
n_plus_1 (3)
print (result3)        # result3 는 함수 n_plus_1 안에서 유효한 변수로 함수 밖에서는 유효하지 않다. 함수 내에서 전역변수로 정의해 주어야 한다.

NameError: ignored

In [34]:
  # 231-2
def n_plus_1 (n) :
    global result2    # result 를 전역 변수로 정의함
    result2 = n + 1
    
n_plus_1 (3)
print (result2)        # result 는 함수 n_plus_1 안에서 유효한 변수로 함수 밖에서는 유효하지 않다. 함수 내에서 전역변수로 정의해 주어야 한다.

4

In [44]:
# 232
def make_url (str) :
    print("www."+str+".com")
   

make_url("naver")

www.naver.com

In [43]:
# 233
def make_list (str) :
    return list(str)

make_list ("abcd")

['a', 'b', 'c', 'd']

In [49]:
# 234
def pickup_even (list) :
    even_list = []
    for i in list :
      if i % 2 == 0 :
        even_list.append(i)
    print(even_list)

pickup_even ([3,4,5,6,7,8])

[4, 6, 8]

In [58]:
# 235
def convert_int(str) :
    str = int(str.replace(",", ""))
    print(type(str)) ; print(str)

convert_int("1,234,567")

<class 'int'>
1234567

In [59]:
# 236
def 함수(num) :
    return num + 4

a = 함수(10)      # a 는 함수(10)의 결과값인 14
b = 함수(a)       # b 는 함수(14)의 결과값인 18
c = 함수(b)       # c 는 함수(18)의 결과값인 22
print(c)

22

In [60]:
# 237
def 함수(num) :
    return num + 4

c = 함수(함수(함수(10)))      #236 의 과정과 결과가 동일함
print(c)

22

In [61]:
# 238
def 함수1(num) :
    return num + 4

def 함수2(num) :
    return num * 10

a = 함수1(10)         # 10 + 4 의 결과값인 14
c = 함수2(a)          # 14 * 10 의 결과갑인 140
print(c)              # print(140) 즉 140 을 출력함

140

In [63]:
# 239
def 함수1(num) :
    return num + 4

def 함수2(num) :
    num = num + 2
    return 함수1(num)

c = 함수2(10)                # 함수1(12) 의 결과값인 16을 반환함
print(c)

16

In [64]:
# 240
def 함수0(num) :
    return num * 2

def 함수1(num) :
    return 함수0(num + 2)

def 함수2(num) :
    num = num + 10
    return 함수1(num)

c = 함수2(2)            # 함수2(2)를 수행(2+10)하여 결과값으로 num = 12 를 반환하여 함수1(12)를 수행(12+2), 그 결과값인 14를 반환하여 함수0(14)를 수행(14*2)하여  그 결과값으로 28 을 반환함
print(c)                # print(28)

28

In [9]:
# 241
from datetime import datetime
current_time = datetime.now()
print(current_time.hour,"시", current_time.minute,"분",current_time.minute,"초" )

4 시 27 분 27 초

In [5]:
# 242
from datetime import datetime
current_time = datetime.now()
print(type(current_time))

<class 'datetime.datetime'>

In [20]:
# 243
from datetime import datetime
from datetime import timedelta

x = datetime.now()
# x5 = x - timedelta(5)

print("오늘 날짜", x.year, "-", x.month, "-", x.day )
#print("5일 전 날짜 ", x5.year,"-", x5.month,"-", x5.day)
for i in range(5,0,-1):
    xi = x - timedelta(i)
    print(i,"일 전 날짜 ", xi.year,"-", xi.month,"-", xi.day)

오늘 날짜 2022 - 11 - 28
5 일 전 날짜  2022 - 11 - 23
4 일 전 날짜  2022 - 11 - 24
3 일 전 날짜  2022 - 11 - 25
2 일 전 날짜  2022 - 11 - 26
1 일 전 날짜  2022 - 11 - 27

In [21]:
# 244
from datetime import datetime
now = datetime.now()

time = now.strftime("%H : %M : %S")
print(time)

05 : 08 : 16

In [28]:
# 245
# datetime.datetime.strptime 메서드를 사용하면 문자열 형식의 시간을 datetime.datetime 타입의 시간 값으로 만들어줍니다. "2020-05-04"의 문자열을 시간 타입으로 변환해보세요.  
# 문제가 이해되지 않음.

from datetime import datetime
str = "2020-05-04"
print(str,"  ", end="") ; print(type(str))

time_type = datetime.strptime(str,"%Y-%m-%d")
print(time_type,"  ",end=""); print(type(time_type))

2020-05-04   <class 'str'>
2020-05-04 00:00:00   <class 'datetime.datetime'>

In [38]:
#246
import time

while True:
  localtime = time.localtime()
  result = time.strftime("%I : %M : %S %p", localtime)
  print(result)
  time.sleep(1)

05 : 34 : 28 AM
05 : 34 : 29 AM
05 : 34 : 30 AM
05 : 34 : 31 AM
05 : 34 : 32 AM
05 : 34 : 33 AM
05 : 34 : 34 AM

KeyboardInterrupt: ignored

In [ ]:
# 247

# 모듈을 임포트하는 방식 4 가지 설명

In [39]:
# 248
import os
print("os.getcwd() = {0}".format(os.getcwd()))

os.getcwd() = /content

In [40]:
# 249
import os
file_old = os.path.join("C:\Users\ZF\Desktop,"python_test.txt")
file_new = os.path.join("C:\Users\ZF\Desktop,"python_test_rename.txt")

os.rename(file_old, file_new)

SyntaxError: ignored

In [46]:
# 250
import numpy
numpy.arange(0.0, 5.1, 0.1)

array([0. , 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1. , 1.1, 1.2,
       1.3, 1.4, 1.5, 1.6, 1.7, 1.8, 1.9, 2. , 2.1, 2.2, 2.3, 2.4, 2.5,
       2.6, 2.7, 2.8, 2.9, 3. , 3.1, 3.2, 3.3, 3.4, 3.5, 3.6, 3.7, 3.8,
       3.9, 4. , 4.1, 4.2, 4.3, 4.4, 4.5, 4.6, 4.7, 4.8, 4.9, 5. ])