<a href="https://colab.research.google.com/github/Namjungpil/PythonClass/blob/main/PythonClass_Day2_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello World!!!")

Hello World!!!

In [ ]:
money = True
if money == True :
    print("택시를 타자")
else :
    print("걸어 가자")

택시를 타자

In [ ]:
money = 3000

if money >= 5000:
    print("택시를 타자")
elif money >= 1000:
    print("버스를 타자")
else:
    print("걸어 가자")

버스를 타자

In [ ]:
# 학생의 성적을 입력 받아서
# 점수가 90 이상이면 "A 학점입니다"
# 점수가 80 이상이면 "B 학점입니다"
# 점수가 70 이상이면 "C 학점입니다"
# 점수가 60 이상이면 "D 학점입니다"
# 나머지는 모두 "F 학점입니다"

score = int(input("학생의 점수는 몇 점입니까?"))

if score >= 90:
    print("A 학점입니다")
    
elif score >= 80:
    print("B 학점입니다")
    
elif score >= 70:
    print("C 학점입니다")
    
elif score >= 60:
    print("D 학점입니다")
    
else:
    print("F 학점입니다")

학생의 점수는 몇 점입니까?50
F 학점입니다

In [ ]:
# while

no = 10

while no >= 0 :
    print(no)
    no = no -1

10
9
8
7
6
5
4
3
2
1
0

In [ ]:
prompt = "1.덧셈 / 2.뺄셈 / 3.곱셈 / 4.나눗셈 / 5.종료"
no = 0

while no <= 4:
    print(prompt)
    no = int(input())

1.덧셈 / 2.뺄셈 / 3.곱셈 / 4.나눗셈 / 5.종료
1
1.덧셈 / 2.뺄셈 / 3.곱셈 / 4.나눗셈 / 5.종료
5

In [ ]:
# while 문의 경우에는 반복 횟수가 정확하지 않을 경우가 많기 때문에 조건에서 뿐만이 아니라 중간에 반복을 종료 시키는 방법 도 필요하다. 

no = 0

while no <= 15 :
    print(no)
    no = no + 1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15

In [ ]:
no = 0

while True :
    print(no)
    no = no + 1
    
    if no > 10 :
        break

0
1
2
3
4
5
6
7
8
9
10

In [ ]:
no = 1
sum = 0

while no < 100 :
    if no%3 == 0 :
        sum = sum + no
        no = no + 1

    else :
        no = no + 1
    
print("1부터 100 까지 3의 배수의 합은", sum)

1부터 100 까지 3의 배수의 합은 1683

In [ ]:
no = 1
sum = 0

while no < 100 :
    if no%3 == 0 :
        sum = sum + no
        
    no = no + 1  # no += 1
    
print("1부터 100 까지 3의 배수의 합은", sum)

1부터 100 까지 3의 배수의 합은 1683

In [ ]:
for i in [1,2,3,4,5,6,7,8,9, 10] :
    print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
math = [80,90,70, 70, 100]

j = 1
for i in math :
    if i>= 90 :
        print(j, "번째 학생은 합격입니다.")
    else :
        print(j, "번째 학생은 불합격입니다.")
    j += 1

1 번째 학생은 불합격입니다.
2 번째 학생은 합격입니다.
3 번째 학생은 불합격입니다.
4 번째 학생은 불합격입니다.
5 번째 학생은 합격입니다.

In [ ]:
for i in [1,2,3,4,5,6,7,8,9,10] :
    if i%2 == 0:
        
        print(i)

2
4
6
8
10

In [ ]:
for i in [1,2,3,4,5,6,7,8,9,10] :
    if i%2 != 0:
        continue
        
    print(i)

2
4
6
8
10

In [ ]:
for i in range(10) :
    if i%2 == 0: 
        print(i)

0
2
4
6
8

In [ ]:
for i in range(1,11):    # 두번쩨 수는 미만
    print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
# for 문으로 구구단 표현하기

for i in range(2,10):   # i 는 단을 표헌
    for j in range(1,10):  # j 는 곱하는 수를 표현
        print(i,"*",j,"=",i*j,end="\t")
    print()

2 * 1 = 2	2 * 2 = 4	2 * 3 = 6	2 * 4 = 8	2 * 5 = 10	2 * 6 = 12	2 * 7 = 14	2 * 8 = 16	2 * 9 = 18
3 * 1 = 3	3 * 2 = 6	3 * 3 = 9	3 * 4 = 12	3 * 5 = 15	3 * 6 = 18	3 * 7 = 21	3 * 8 = 24	3 * 9 = 27
4 * 1 = 4	4 * 2 = 8	4 * 3 = 12	4 * 4 = 16	4 * 5 = 20	4 * 6 = 24	4 * 7 = 28	4 * 8 = 32	4 * 9 = 36
5 * 1 = 5	5 * 2 = 10	5 * 3 = 15	5 * 4 = 20	5 * 5 = 25	5 * 6 = 30	5 * 7 = 35	5 * 8 = 40	5 * 9 = 45
6 * 1 = 6	6 * 2 = 12	6 * 3 = 18	6 * 4 = 24	6 * 5 = 30	6 * 6 = 36	6 * 7 = 42	6 * 8 = 48	6 * 9 = 54
7 * 1 = 7	7 * 2 = 14	7 * 3 = 21	7 * 4 = 28	7 * 5 = 35	7 * 6 = 42	7 * 7 = 49	7 * 8 = 56	7 * 9 = 63
8 * 1 = 8	8 * 2 = 16	8 * 3 = 24	8 * 4 = 32	8 * 5 = 40	8 * 6 = 48	8 * 7 = 56	8 * 8 = 64	8 * 9 = 72
9 * 1 = 9	9 * 2 = 18	9 * 3 = 27	9 * 4 = 36	9 * 5 = 45	9 * 6 = 54	9 * 7 = 63	9 * 8 = 72	9 * 9 = 81

In [ ]:
# for 문으로 구구단 표현하기

for i in range(1,10):   # i 는 단을 표헌
    for j in range(2,10):  # j 는 곱하는 수를 표현
        print(j,"*",i,"=",j*i,end="\t")
    print()

2 * 1 = 2	3 * 1 = 3	4 * 1 = 4	5 * 1 = 5	6 * 1 = 6	7 * 1 = 7	8 * 1 = 8	9 * 1 = 9
2 * 2 = 4	3 * 2 = 6	4 * 2 = 8	5 * 2 = 10	6 * 2 = 12	7 * 2 = 14	8 * 2 = 16	9 * 2 = 18
2 * 3 = 6	3 * 3 = 9	4 * 3 = 12	5 * 3 = 15	6 * 3 = 18	7 * 3 = 21	8 * 3 = 24	9 * 3 = 27
2 * 4 = 8	3 * 4 = 12	4 * 4 = 16	5 * 4 = 20	6 * 4 = 24	7 * 4 = 28	8 * 4 = 32	9 * 4 = 36
2 * 5 = 10	3 * 5 = 15	4 * 5 = 20	5 * 5 = 25	6 * 5 = 30	7 * 5 = 35	8 * 5 = 40	9 * 5 = 45
2 * 6 = 12	3 * 6 = 18	4 * 6 = 24	5 * 6 = 30	6 * 6 = 36	7 * 6 = 42	8 * 6 = 48	9 * 6 = 54
2 * 7 = 14	3 * 7 = 21	4 * 7 = 28	5 * 7 = 35	6 * 7 = 42	7 * 7 = 49	8 * 7 = 56	9 * 7 = 63
2 * 8 = 16	3 * 8 = 24	4 * 8 = 32	5 * 8 = 40	6 * 8 = 48	7 * 8 = 56	8 * 8 = 64	9 * 8 = 72
2 * 9 = 18	3 * 9 = 27	4 * 9 = 36	5 * 9 = 45	6 * 9 = 54	7 * 9 = 63	8 * 9 = 72	9 * 9 = 81

In [ ]:
# range 를 사용, 100 이하의 수중 짝수의 합을 구하시오

sum = 0
for i in range(101):
    if i%2 == 0:
        sum += i
print(sum)

2550

In [ ]:
sum = 0
for i in range(0,101,2):
     sum += i
print(sum)

2550

In [ ]:
# 리스트 축약/내포  List Comprehension
# 리스트를 보다 편리하고 직관적으로 만드는 방업이다

list1 = [1,2,3,4,5]
print("list1 = ",list1)

list2 = [num for num in list1]
print("list2 = ",list2)

list3 = [num*2 for num in list1]
print("list3 = ",list3)

list4 = [num for num in list1 if num%2==0]
print("list4 = ",list4)

list1 =  [1, 2, 3, 4, 5]
list2 =  [1, 2, 3, 4, 5]
list3 =  [2, 4, 6, 8, 10]
list4 =  [2, 4]

In [ ]:
no = int(input("점수는?"))

if no >= 80 :
    print("합격입니다")
else :
    print("불합격입니다")

점수는?90
합격입니다

In [ ]:
no = int(input("점수는?"))

print("합격입니다" if no >=80 else "불합격입니다")

점수는?70
불합격입니다