<a href="https://colab.research.google.com/github/Namjungpil/PythonClass/blob/main/PythonClass_Homework_19.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
# 35
name = input("enter your name :  ")
#print(name)
#print(name)
#print(name)

for i in range(3) :
  print(name)

enter your name :  hong
hong
hong
hong

In [12]:
# 36
name = input("enter your name :  ")
number = int(input("enter number of times :  "))

for i in range(number) :
  print(name)

enter your name :  hong
enter number of times :  5
hong
hong
hong
hong
hong

In [15]:
# 37
name = input("enter your name :  ")

for letter in name :
  print(letter)

enter your name :  Hong
H
o
n
g

In [16]:
# 38
name = input("enter your name :  ")
num = int(input("enter a number for repeat times : "))

for i in range(num) :
  for letter in name :
      print(letter)

enter your name :  Hong
enter a number for repeat times : 3
H
o
n
g
H
o
n
g
H
o
n
g

In [19]:
# 39
num = int(input("enter a number between 1 and 12 : "))

# display times table for the number ?
print("table " * num)

enter a number between 1 and 12 : 3
table table table

In [26]:
# 40
num = int(input("enter a number below 50: "))
for i in range(50,num,-1) :
  print(f"entered number is {num}, & Count down from {i} to {i-1}")

enter a number below 50: 45
entered number is 45, & Count down from 50 to 49
entered number is 45, & Count down from 49 to 48
entered number is 45, & Count down from 48 to 47
entered number is 45, & Count down from 47 to 46
entered number is 45, & Count down from 46 to 45

In [30]:
# 41
name = input("enter your name :  ")
num = int(input("enter a number : "))

if num < 10 :
  for i in range(num) :
    print(name)

else :
  for i in range(3) :
    print("Too high")

enter your name :  Hong
enter a number : 11
Too high
Too high
Too high

In [42]:
# 42
total = 0

for i in range(5) :
  num = int(input("enter a number :  "))
  want = input("enter Yes to add this number to total, otherwise enter No: ")
  if want == "Yes" :
    total += num

print("total number is ",total)

enter a number :  10
enter Yes to add this number to total, otherwise enter No: Yes
enter a number :  10
enter Yes to add this number to total, otherwise enter No: Yes
enter a number :  10
enter Yes to add this number to total, otherwise enter No: No
enter a number :  10
enter Yes to add this number to total, otherwise enter No: No
enter a number :  10
enter Yes to add this number to total, otherwise enter No: Yes
total number is  30

In [8]:
# 43
direct = input("which direction do you want, up or down?  ")
if direct == "up" :
   num = int(input("what top number do you want? "))
   for i in range(1,num+1) :
     print(i)
elif direct == "down" :
   num = int(input("enter a number below 20  "))
   for i in range(20,num-1,-1) :
     print(i)
else : 
   print("I don't understand")

which direction do you want, up or down?  down
enter a number below 20  15
20
19
18
17
16
15

In [12]:
# 44
count = int(input("How many people you want to invite to a party?  "))
if count < 10 :
  for i in range(count) :
    name = input("who will be invited?  ")
    print(f"[{name}] has been invited")
else :
  print("Too many peaple")

How many people you want to invite to a party?  1
who will be invited?  Hong Gildong
[Hong Gildong] has been invited