<a href="https://colab.research.google.com/github/Namjungpil/PythonClass/blob/main/PythonClass_Homework_17.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 251

# 클래스   : 객체를 정의하고 만들기 위한 변수와 매써드의 집합, 붕어빵 틀에 비유됨
# 객체     : 클래스로 만든 개별적이고 독립적인 것. 붕어빵 틀에서 만들어진 각각의 붕어빵에 비유됨
# 인스턴스 : 객체가 소프트웨어에 실체화 된 것, 클래스로 만든 객체

In [4]:
# 252

class Human :
  pass

In [7]:
# 253

class Human :
   pass

areum = Human()   
print(type(areum))

<class '__main__.Human'>

In [9]:
# 254

class Human :
      print("응애응애")

areum = Human()

응애응애

In [12]:
# 255
class Human :
  def setdata(self,이름, 나이, 성별) :
    self.이름 = 이름
    self.나이 = 나이
    self.성별 = 성별
       
areum = Human()
areum.setdata ("아름", 25, "여자")

In [30]:
# 256
class Human :
  def setdata(self,이름, 나이, 성별) :
    self.이름 = 이름
    self.나이 = 나이
    self.성별 = 성별
       
areum = Human()
areum.setdata ("아름", 25, "여자")

self = areum
print("이름 : 조",self.이름, ", 나이 :", self.나이, ", 성별 :", self.성별)

이름 : 조 아름 , 나이 : 25 , 성별 : 여자

In [28]:
# 257
class Human :
  def setdata(self,이름, 나이, 성별) :
    self.이름 = 이름
    self.나이 = 나이
    self.성별 = 성별

  def who(self) :
    print("이름 : 조",self.이름, ", 나이 :", self.나이, ", 성별 :", self.성별) 

areum = Human()
areum.setdata("아름", 25, "여자")

areum.who ()

이름 : 조 아름 , 나이 : 25 , 성별 : 여자

In [33]:
# 258
class Human :
  def __init__(self, 이름, 나이, 성별) :
    self.이름 = 이름
    self.나이 = 나이
    self.성별 = 성별

  def setInfo(self, 이름, 나이, 성별) :
    self.이름 = 이름
    self.나이 = 나이
    self.성별 = 성별

areum = Human("모름", 0, "모름")
#self = areum
print("이름 : ",self.이름, ", 나이 : ",self.나이, ", 성별 : ", self.성별)

areum.setInfo("아름", 25, "여자") 
#self = areum
print("이름 : ",self.이름, ", 나이 : ",self.나이, ", 성별 : ", self.성별)

이름 :  아름 , 나이 :  25 , 성별 :  여자
이름 :  아름 , 나이 :  25 , 성별 :  여자

In [26]:
# 259
class Human :
  def __init__(self, 이름, 나이, 성별) :
    self.이름 = 이름
    self.나이 = 나이
    self.성별 = 성별

    print("이름 : ",self.이름, ", 나이 : ",self.나이, ", 성별 : ", self.성별)

  def __del__(self) :
    print("나," , self.이름, "의 죽음을 알리지 말라.") 
  
areum = Human("아름", 25, "여자")
print()
del areum

이름 :  아름 , 나이 :  25 , 성별 :  여자

나, 아름 의 죽음을 알리지 말라.

In [43]:
# 260
class OMG :
    def print(self) :
        print("Oh my god")

myStock = OMG()
myStock.print()       # 매써드 print() 의 괄호안에 객체명이 들어갈 수 있도록 self 를 입력해야 함

Oh my god

In [ ]:
# 261
class Stock :             # 클래스 Stock 생성
  pass                    # 별도 기능 없음

In [45]:
# 262
class Stock :
  def __init__(self, 종목명, 종목코드) :
    self.종목명 = 종목명
    self.종목코드 = 종목코드

삼성 = Stock ("삼성전자", "005930")

print(삼성.종목명, 삼성.종목코드)

삼성전자 005930

In [49]:
# 263
class Stock :
  def __init__(self, 종목명, 종목코드) :
    self.종목명 = 종목명
    self.종목코드 = 종목코드
    print(a, self.종목명, self.종목코드)

  def set_name (self,str) :
    self.종목명 = str
    print(a, self.종목명)

a = Stock(None, None)

a.set_name("삼성전자")

<__main__.Stock object at 0x7faca1686bd0> None None
<__main__.Stock object at 0x7faca16bda10> 삼성전자

In [51]:
# 264
class Stock :
  def __init__(self, 종목명, 종목코드) :
    self.종목명 = 종목명
    self.종목코드 = 종목코드
    print(self.종목명, self.종목코드)

  def set_name (self,str) :
    self.종목명 = str
    print(self.종목명)

  def set_code (self,code) :
    self.code = code
    print(self.code)

a = Stock(None, None)

a.set_code("005930")

None None
005930

In [59]:
# 265
class Stock :
  def __init__(self, 종목명, 종목코드) :
    self.종목명 = 종목명
    self.종목코드 = 종목코드
    
  def get_name (self) :
       print(self.종목명)
  def get_code (self) :
       print(self.종목코드)


삼성 = Stock("삼성전자", "005930")
삼성.get_name()
삼성.get_code()

삼성전자
005930

In [ ]:
# 266
class Stock :
  def __init__(self, 종목명, 종목코드, PER, PBR, 배당수익률) :
    self.종목명 = 종목명
    self.종목코드 = 종목코드
    self.PER = float(PER)
    self.PBR = float(PBR)
    self.배당수익률 = float(배당수익률)

In [61]:
# 267
class Stock :
  def __init__(self, 종목명, 종목코드, PER, PBR, 배당수익률) :
    self.종목명 = 종목명
    self.종목코드 = 종목코드
    self.PER = float(PER)
    self.PBR = float(PBR)
    self.배당수익률 = float(배당수익률)

삼성 = Stock("삼성전자", "005930", 15.79, 1.33, 2.83)

In [ ]:
# 268
class Stock :
  def __init__(self, 종목명, 종목코드, PER, PBR, 배당수익률) :
    self.종목명 = 종목명
    self.종목코드 = 종목코드
    self.PER = float(PER)
    self.PBR = float(PBR)
    self.배당수익률 = float(배당수익률)

  def set_per (self, PER) :
    self.PER = float(PER)

  def set_pbr (self, PBR) :
    self.PBR = float(PBR)  

  def set_dividend (self, 배당수익률) :
    self.배당수익률 = float(배당수익률)

In [72]:
# 269
class Stock :
  def __init__(self, 종목명, 종목코드, PER, PBR, 배당수익률) :
    self.종목명 = 종목명
    self.종목코드 = 종목코드
    self.PER = float(PER)
    self.PBR = float(PBR)
    self.배당수익률 = float(배당수익률)

    print("초기값: ", self.종목명, self.종목코드, self.PER, self.PBR, self.배당수익률)

  def set_per (self, PER) :
    self.PER = float(PER)
    print("변경값: ", self.종목명, self.종목코드, self.PER, self.PBR, self.배당수익률)

  def set_pbr (self, PBR) :
    self.PBR = float(PBR)  
    print("변경값: ", self.종목명, self.종목코드, self.PER, self.PBR, self.배당수익률)

  def set_dividend (self, 배당수익률) :
    self.배당수익률 = float(배당수익률)
    print("변경값: ", self.종목명, self.종목코드, self.PER, self.PBR, self.배당수익률)

삼성 = Stock("삼성전자", "005930", 15.79, 1.33, 2.83)
삼성.set_per(12.75)
print(삼성.PER)

초기값:  삼성전자 005930 15.79 1.33 2.83
변경값:  삼성전자 005930 12.75 1.33 2.83
12.75

In [74]:
# 270     --> 모르겠음 !!

stock_list = []

class Stock :

  def __init__(self, 종목명, 종목코드, PER, PBR, 배당수익률) :
    self.종목명 = 종목명
    self.종목코드 = 종목코드
    self.PER = float(PER)
    self.PBR = float(PBR)
    self.배당수익률 = float(배당수익률)

삼성 = Stock("삼성전자", "005930", 15.79, 1.33, 2.83)
현대차 = Stock("현대차", "005380", 8.70, 0.35, 4.27)
LG = Stock("LG전자", "066570", 317.34, 0.69, 1.37)

stock_list.append(삼성)
stock_list.append(현대차)
stock_list.append(LG)

print(stock_list)

for i in stock_list :
  print(i.종목코드, i.PER)

[<__main__.Stock object at 0x7fac9785a250>, <__main__.Stock object at 0x7fac9785a310>, <__main__.Stock object at 0x7fac9785a9d0>]
005930 15.79
005380 8.7
066570 317.34