<a href="https://colab.research.google.com/github/Namjungpil/PythonClass/blob/main/PythonClass_Homework_25.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 096
arr = [[2,5,8], [3,7,4], [1,6,9],[4,2,0]]

In [2]:
# 097
arr = [[2,5,8], [3,7,4], [1,6,9],[4,2,0]]
row = int(input("select row number between 0 and 3: "  ))
column = int(input("select column number between 0 and 2: "))
print(f"the value in row {row} and colume {column} is {arr[row][column]}")

select row number between 0 and 3: 1
select column number between 0 and 2: 1
the value in row 1 and colume 1 is 7

In [7]:
import array
# 098
arr = [[2,5,8], [3,7,4], [1,6,9],[4,2,0]]
row = int(input("select row number between 0 and 3: "  ))
print(f"the list in row {row} is {arr[row]}")

select row number between 0 and 3: 1
the list in row 1 is [3, 7, 4]

In [8]:
# 099
arr = [[2,5,8], [3,7,4], [1,6,9],[4,2,0]]
row = int(input("select row number between 0 and 3: "  ))
print(f"the list in row {row} is {arr[row]}")
new_value = int(input("enter a new value:  "))
arr[row].append(new_value)
print(f"the revised list in row {row} is {arr[row]}")

select row number between 0 and 3: 1
the list in row 1 is [3, 7, 4]
enter a new value:  6
the revised list in row 1 is [3, 7, 4, 6]

In [ ]:
# 100
sales = {"John":{"N":3056, "S":8463, "E":8441, "W":2694},"Tom":{"N":4832, "S":6786, "E":4737, "W":3612},"Anne":{"N":5239, "S":4802, "E":5820, "W":1859},"Fiona":{"N":3904, "S":3645, "E":8821, "W":2451}}

In [17]:
# 101
sales = {"John":{"N":3056, "S":8463, "E":8441, "W":2694},"Tom":{"N":4832, "S":6786, "E":4737, "W":3612},"Anne":{"N":5239, "S":4802, "E":5820, "W":1859},"Fiona":{"N":3904, "S":3645, "E":8821, "W":2451}}
user_pick_name = input('select a name in  : "John", "Tom", "Anne" and "Fiona"  ')
user_pick_region = input('select a region in "N", "S", "E" and "W"  ')
print(f'the relavant data is {sales[user_pick_name][user_pick_region]}')

user_pick_data = int(input("type in data for you want to change  "))
sales[user_pick_name][user_pick_region] = user_pick_data
print(f'the changed sales data in each region for {user_pick_name} is {sales[user_pick_name]}')

select a name in  : "John", "Tom", "Anne" and "Fiona"  John
select a region in "N", "S", "E" and "W"  N
the relavant data is 3056
type in data for you want to change  4000
the changed sales data in each region for John is {'N': 4000, 'S': 8463, 'E': 8441, 'W': 2694}

In [26]:
# 102
data_set = {}
for i in range(4) :
  name = input("enter a name:  ")
  age = int(input(f"enter age of {name}  "))
  shoe_size = int(input(f"enter size of shoe for {name}  "))
  data_set[name] = {"age":age, "shoe_size":shoe_size}
print(data_set)
  #print(data_set.keys())
user_pick_name = input(f"type in a name in {list(data_set.keys())}  ")
print(f"the age of {user_pick_name} is {data_set[user_pick_name]['age']} and the shoe size of him/her is {data_set[user_pick_name]['shoe_size']}")

enter a name:  Kim
enter age of Kim  10
enter size of shoe for Kim  200
enter a name:  Lee
enter age of Lee  15
enter size of shoe for Lee  220
enter a name:  Park
enter age of Park  20
enter size of shoe for Park  250
enter a name:  Jeong
enter age of Jeong  25
enter size of shoe for Jeong  270
{'Kim': {'age': 10, 'shoe_size': 200}, 'Lee': {'age': 15, 'shoe_size': 220}, 'Park': {'age': 20, 'shoe_size': 250}, 'Jeong': {'age': 25, 'shoe_size': 270}}
type in a name in ['Kim', 'Lee', 'Park', 'Jeong']  Park
the age of Park is 20 and the shoe size of him/her is 250

In [40]:
# 103
for i in range(len(data_set.keys())) :
   a = list(data_set.keys())
   b = list(data_set.values())
   print(f"name: {a[i]}, age : {b[i]['age']}")

name: Kim, age : 10
name: Lee, age : 15
name: Park, age : 20
name: Jeong, age : 25

In [22]:
# 104
data_set = {'Kim': {'age': 10, 'shoe_size': 200}, 'Lee': {'age': 15, 'shoe_size': 220}, 'Park': {'age': 20, 'shoe_size': 250}, 'Jeong': {'age': 25, 'shoe_size': 270}}
print(data_set)
user_pick_remove = input(f"enter a name whom you want to remove on the data set, name in {list(data_set.keys())}   ")
del data_set[user_pick_remove]
for key in data_set :
    print(f"{{'{key}': {data_set[key]}}}")

{'Kim': {'age': 10, 'shoe_size': 200}, 'Lee': {'age': 15, 'shoe_size': 220}, 'Park': {'age': 20, 'shoe_size': 250}, 'Jeong': {'age': 25, 'shoe_size': 270}}
enter a name whom you want to remove on the data set, name in ['Kim', 'Lee', 'Park', 'Jeong']   Kim
{'Lee': {'age': 15, 'shoe_size': 220}}
{'Park': {'age': 20, 'shoe_size': 250}}
{'Jeong': {'age': 25, 'shoe_size': 270}}